*.user
Battleship/.vs
Battleship/Battleship.Logic/obj
Battleship/Battleship.Logic/bin
Battleship/Battleship.Wpf/obj
Battleship/Battleship.Wpf/bin
Battleship/Battleship.Tests/obj
Battleship/Battleship.Tests/bin
Battleship/packages
